@model PIS.Models.ChatModel

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
        .chat-container {
            max-width: 800px;
            margin: 0 auto; 
            padding: 20px; 
            border: 1px solid #ced4da;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container chat-container">
        <h1 class="text-center">Чат</h1>
        <hr>
        <div id="message-list">
            @foreach (var message in Model.Messages)
            {
                <div class="message">
                    <div class="row @(message.Username == (string)ViewData["Username"] ? "justify-content-end" : "")">
                        <div class="col-auto @(message.Username == (string)ViewData["Username"] ? "ml-auto" : "")">
                            <div class="card" style="width: 22rem; border-color: @(message.Username == (string)ViewData["Username"] ? "#007bff" : "#ced4da");">
                        <div class="card-header">
                            @message.Username
                        </div>
                        <div class="card-body">
                            <p class="card-text">@message.Text</p>
                                    <div class="position-absolute" style="bottom: 0; right: 0;">
                                        <button class="btn btn-sm btn-outline-primary rounded-0" data-toggle="modal" data-target="#panel-@message.MessageId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="modal fade" id="panel-@message.MessageId" tabindex="-1" role="dialog" aria-labelledby="panelLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="panelLabel">Лайки и дизлайки</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Лайки:</h5>
                                                    <ul>
                                                        @foreach (var like in message.Like)
                                                        {
                                                            <li>@like</li>
                                                        }
                                                    </ul>
                                                    <h5>Дизлайки:</h5>
                                                    <ul>
                                                        @foreach (var dislike in message.Dislike)
                                                        {
                                                            <li>@dislike</li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            @if ((bool)ViewData["IsLoggedIn"])
                            {
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <input type="checkbox" class="btn-check form-check-input-sm" id="btn-check-outlined-@message.MessageId" autocomplete="off" @(message.Like.Contains((string)ViewData["Username"]) ? "checked" : "")>
                                    <label class="btn btn-outline-success btn-sm" for="btn-check-outlined-@message.MessageId" onclick="toggleLike('@message.MessageId')">
                                                @message.Like.Count()
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                            <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2 2 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a10 10 0 0 0-.443.05 9.4 9.4 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a9 9 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.2 2.2 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.9.9 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                        </svg>
                                    </label>

                                    <input type="checkbox" class="btn-check form-check-input-sm" id="btn-check-outlined-@message.MessageId-d" autocomplete="off" @(message.Dislike.Contains((string)ViewData["Username"]) ? "checked" : "")>
                                    <label class="btn btn-outline-danger btn-sm" for="btn-check-outlined-@message.MessageId-d" onclick="toggleDislike('@message.MessageId')">
                                        @message.Dislike.Count()
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                            <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856s-.036.586-.113.856c-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a10 10 0 0 1-.443-.05 9.36 9.36 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a9 9 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581s-.027-.414-.075-.581c-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.2 2.2 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.9.9 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1" />
                                        </svg>
                                    </label>
                                </div>
                            }
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            }
        </div>
        @if ((bool)ViewData["IsLoggedIn"])
        {
            <footer class="footer">
                <div class="container">
                    <form class="form-inline" asp-controller="Chat" asp-action="SendMessage" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Введите сообщение" name="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </footer>
        }
        else
        {
            <p>Пожалуйста, войдите или зарегистрируйтесь</p>
        }
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        function toggleLike(messageId) {
            var likeCheckbox = $("#btn-check-outlined-" + messageId);
            var dislikeCheckbox = $("#btn-check-outlined-" + messageId + "-d");

            if (likeCheckbox.prop("checked")) {
                $.post('@Url.Action("UnLikeMessage", "Chat")', { messageId: messageId }, function () {
                    location.reload();
                });
            } else {
                if (dislikeCheckbox.prop("checked")) {
                    $.post('@Url.Action("UnDislikeMessage", "Chat")', { messageId: messageId }, function () {
                        $.post('@Url.Action("LikeMessage", "Chat")', { messageId: messageId }, function () {
                            location.reload();
                        });
                    });
                } else {
                    $.post('@Url.Action("LikeMessage", "Chat")', { messageId: messageId }, function () {
                        location.reload();
                    });
                }
            }
        }

        function toggleDislike(messageId) {
            var likeCheckbox = $("#btn-check-outlined-" + messageId);
            var dislikeCheckbox = $("#btn-check-outlined-" + messageId + "-d");

            if (dislikeCheckbox.prop("checked")) {
                $.post('@Url.Action("UnDislikeMessage", "Chat")', { messageId: messageId }, function () {
                    location.reload();
                });
            } else {
                if (likeCheckbox.prop("checked")) {
                    $.post('@Url.Action("UnLikeMessage", "Chat")', { messageId: messageId }, function () {
                        $.post('@Url.Action("DislikeMessage", "Chat")', { messageId: messageId }, function () {
                            location.reload();
                        });
                    });
                } else {
                    $.post('@Url.Action("DislikeMessage", "Chat")', { messageId: messageId }, function () {
                        location.reload();
                    });
                }
            }
        }

        function togglePanel(messageId) {
            var panel = document.getElementById("panel-" + messageId);
            if (panel.style.display === "none") {
                panel.style.display = "block";
            } else {
                panel.style.display = "none";
            }
        }
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

