@model IEnumerable<PIS.Tour>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.TourName</td>
                <td>@tour.TourDescription</td>
                <td>@tour.TourPrice</td>
                <td> <a class="btn btn-success" asp-area="" asp-controller="Tour" asp-action="DetailsTour" asp-route-tourId="@tour.TourId">Подробнее</a> </td>
                <td>
                    <button type="button" class="btn btn-success buy-btn" data-tour-id="@tour.TourId">Купить</button>
                </td>
            </tr>
        }
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.buy-btn').click(function () {
                    var tourId = $(this).data('tour-id');
                    $.ajax({
                        url: '/Order/AddToOrder',
                        type: 'POST',
                        data: { tourId: tourId },
                        success: function (response) {
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                });
            });
        </script>
    </tbody>
</table>

