@model IEnumerable<PIS.Tour>
@{
    bool isOrderPage = ViewData["IsOrderPage"] != null ? (bool)ViewData["IsOrderPage"] : false;
    bool isLoggedIn = ViewData["IsLoggedIn"] != null ? (bool)ViewData["IsLoggedIn"] : false;
    bool isLogPage = ViewData["IsLogPage"] != null ? (bool)ViewData["IsLogPage"] : false;
}

@if (!isLogPage && !isOrderPage)
{
    <div class="card-container d-flex flex-wrap">
        @foreach (var tour in Model)
        {
            <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
                <img src="@tour.URL" class="card-img-top" style="object-fit: cover; height: 200px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@tour.TourName</h5>
                    <p class="card-text">@tour.TourDescription</p>
                    <p class="card-text">Цена: @tour.TourPrice Руб</p>
                    <p class="card-text">Дата: @tour.StartDate.ToString("dd.MM.yyyy") - @tour.EndDate.ToString("dd.MM.yyyy")</p>
                    <a href="@Url.Action("DetailsTour", "Tour", new { area = "", tourId = tour.TourId })" class="btn btn-success">Подробнее</a>
                    @if (isLoggedIn)
                    {
                        <button type="button" class="btn btn-success buy-btn" data-tour-id="@tour.TourId">Купить</button>
                    }
                </div>
            </div>
        }
       

    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Продолжительность</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var tourGroup in Model.GroupBy(t => t.TourId))
            {
                <tr>
                    <td>@tourGroup.First().TourName</td>
                    <td>@tourGroup.First().TourDescription</td>
                    <td>@tourGroup.First().TourPrice</td>
                    <td>@tourGroup.First().StartDate.ToString("dd.MM.yyyy") - @tourGroup.First().EndDate.ToString("dd.MM.yyyy")</td>
                    <td>@tourGroup.Count()</td>
                    @if (isOrderPage)
                    {
                        <td> <a class="btn btn-danger" asp-area="" asp-controller="Order" asp-action="RemoveItem" asp-route-tourId="@tourGroup.Key">Удалить</a> </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.buy-btn').click(function () {
            console.log('Buy button clicked');
            var tourId = $(this).data('tour-id');
            var currentButton = $(this);
            $.ajax({
                url: '/Order/AddToOrder',
                type: 'POST',
                data: { tourId: tourId },
                success: function (response) {
                    console.log('Add to order success');
                    var quantity = currentButton.closest('tr').find('.tour-quantity');
                    quantity.text(parseInt(quantity.text()) + 1);
                },
                error: function (xhr, status, error) {
                    console.error('Add to order error: ' + error);
                }
            });
        });
    });
</script>